
 .left-player{
    display: inline-block;
    text-align: center;
    background-color: #ECEAEA;
    height: 100vh;
    width: 50%;
    
    

}
.right-player{
    
    width: 50%;
    display: inline-block;
    text-align: center;
    background: white;
    height: 100vh;
}
.current_score_1{
    background: #e63636;
    width: 14vw;
    height: 12vw;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 25%;
    top:  80%;
    transform: translate(-50% , -50%);
}
.current_score_2{
    background: #e63636;
    width: 12vw;
    height: 13vw;
    padding: 10px;
    text-align: center;
    position: absolute;
    left: 75%;
    top:  80%;
    transform: translate(-50% , -50%);
}
.last_score{
    position: relative;
    top: 7vh;
    font-size: 30px;
    color: #e63636;
}
.h1{
    font-size: 30px;
    top: 5vh;
    text-align: center;
    position: relative;

}
.h2{
    font-size: 30px;
    top: 5vh;  
    text-align: center;
    position: relative;
    
}
.dice{
    position: absolute;
    top: 45%;
    left: 50%;
    height: 15vh;
    width: 15vh;
    
    transform: translate(-50% , -50%);
}
.roll-btn{
    position: absolute;
    height: 5vh;
    top: 60%;
    left: 50%;
    transform: translate(-50% , -50%);
    z-index: 2000;
}
.hold-btn{
    position: absolute;
    top: 67%;
    left: 50%;
    height: 5vh; 
    transform: translate(-50% , -50%);
    z-index: 2000; 
}
.h1{
    font-size: 30px;
    top: 10%;
    text-align: center;
    position: relative;

}
.h2{
    font-size: 30px;
    top: 10%;  
    text-align: center;
    position: relative;
    
}

.new-game{
    position: absolute;
    left: 50%;
    top: 10vh;
    transform: translate(-50%);
}
.dot{
    position: relative;
    bottom: 5px;
    font-size: 60px;  
    color: #e63636;
}
#dot2{
    opacity: 0%;
}

.alert{
    opacity: 0;
    font-size: xx-large;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #e63636;
    
}
button{
    background: none;
    border: none;
    display: inline-flex;
    align-items: center;
    
}
.material-icons{
    color: #e63636;
}



@media screen and (orientation: landscape) {
    
    .current_score_1{
        background: #e63636;
        width: 13vw;
        height: 10vw;
        max-width: 90px;
        max-height: 70px;
        padding: 10px;
        text-align: center;
        position: absolute;
        left: 25%;
        top:  85%;
        transform: translate(-50% , -50%);
    }
    .current_score_2{
        background: #e63636;
        width: 13vw;
        height: 10vw;
        max-width: 90px;
        max-height: 70px;
        padding: 10px;
        text-align: center;
        position: absolute;
        left: 75%;
        top:  85%;
        transform: translate(-50% , -50%);
    }
    .last_score{
        position: relative;
        top: 2vh;
        font-size: 30px;
        color: #e63636;
    }
    .h1{
        font-size: 30px;
        top: 5vh;
        text-align: center;
        position: relative;

    }
    .h2{
        font-size: 30px;
        top: 5vh;  
        text-align: center;
        position: relative;
        
    }
    .dice{
        position: absolute;
        top: 54%;
        left: 50%;
        height: 15vh;
        width: 15vh;
        
        transform: translate(-50% , -50%);
    }
    .roll-btn{
        position: absolute;
        height: 5vh;
        top: 80%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 2000;
    }
    .hold-btn{
        position: absolute;
        top: 91%;
        left: 50%;
        height: 5vh; 
        transform: translate(-50% , -50%);
        z-index: 2000; 
    }
    .h1{
        font-size: 30px;
        top: 10%;
        text-align: center;
        position: relative;

    }
    .h2{
        font-size: 30px;
        top: 10%;  
        text-align: center;
        position: relative;
        
    }  
}  
@media screen and (min-width: 670px) {
    
    .current_score_1{
        background: #e63636;
        width: 13vw;
        height: 10vw;
        max-width: 90px;
        max-height: 70px;
        padding: 10px;
        text-align: center;
        position: absolute;
        left: 25%;
        top:  76%;
        transform: translate(-50% , -50%);
    }
    .current_score_2{
        background: #e63636;
        width: 13vw;
        height: 10vw;
        max-width: 90px;
        max-height: 70px;
        padding: 10px;
        text-align: center;
        position: absolute;
        left: 75%;
        top:  76%;
        transform: translate(-50% , -50%);
    }
    .last_score{
        position: relative;
        top: 7vh;
        font-size: 50px;
        color: #e63636;
    }
    .h1{
        font-size: 40px;
        top: 5vh;
        text-align: center;
        position: relative;

    }
    .h2{
        font-size: 40px;
        top: 5vh;  
        text-align: center;
        position: relative;
        
    }
    .dice{
        position: absolute;
        top: 37%;
        left: 50%;
        height: 15vh;
        width: 15vh;
        
        transform: translate(-50% , -50%);
    }
    .roll-btn{
        position: absolute;
        height: 5vh;
        top: 72%;
        left: 50%;
        transform: translate(-50% , -50%);
        z-index: 2000;
    }
    .hold-btn{
        position: absolute;
        top: 80%;
        left: 50%;
        height: 5vh; 
        transform: translate(-50% , -50%);
        z-index: 2000; 
    }
    .h1{
        font-size: 30px;
        top: 10%;
        text-align: center;
        position: relative;

    }
    .h2{
        font-size: 30px;
        top: 10%;  
        text-align: center;
        position: relative;
        
    }  
}  

    